/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define FUN 3

/ {
	behaviors {
		hm: homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "homerow mods";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <200>;
			bindings = <&kp>, <&kp>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp Q         &kp W         &hm LGUI E    &kp R         &kp T             &kp Y         &kp U         &hm RGUI I    &kp O         &kp P
	&kp A         &hm LALT S    &hm LCTRL D   &hm LSHFT F   &kp G             &kp H         &hm RSHFT J   &hm RCTRL K   &hm LALT L    &kp SEMI
	&kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
	                            &kp K_APP     &kp SPACE     &mo NAV           &mo SYM       &kp RSHFT     &kp RALT
			>;
		};

		nav_layer {
			bindings = <
	&kp PAUSE_BREAK &kp CAPS    &kp LGUI      &kp PSCRN     &kp SLCK          &none         &kp BSPC      &kp DEL       &kp INS       &none
	&none           &kp LALT    &hm LCTRL ESC &hm LSHFT TAB &kp LS(TAB)       &kp LC(BSPC)  &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT
	&kp K_UNDO      &kp LS(DEL) &kp LC(INS)   &kp LS(INS)   &none             &kp RET       &kp HOME      &kp PG_DN     &kp PG_UP     &kp END
	                            &trans        &trans        &none             &mo FUN       &trans        &trans
			>;
		};

		sym_layer {
			bindings = <
	&kp EXCL      &kp AT        &hm LGUI LS(N3) &kp DLLR    &kp PRCNT         &kp CARET     &kp AMPS      &hm RGUI LS(N8) &kp LPAR    &kp RPAR
	&kp N1        &hm LALT N2   &hm LCTRL N3  &hm LSHFT N4  &kp N5            &kp N6        &hm RSHFT N7  &hm RCTRL N8  &hm LALT N9   &kp N0
	&none         &none         &kp LS(N)     &kp DOT       &kp RA(G)         &kp N         &kp KP_PLUS   &kp KP_MINUS  &kp KP_SLASH  &kp KP_ASTERISK
	                            &trans        &trans        &mo FUN           &none         &trans        &trans
			>;
		};

		fun_layer {
			bindings = <
	&kp F1        &kp F2        &hm LGUI F3   &kp F4        &kp F5            &kp F6        &kp F7        &hm LGUI F8   &kp F9        &kp F10
	&none         &kp LALT      &kp LCTRL     &kp LSHFT     &kp LBKT          &kp RBKT      &kp RSHFT     &kp RCTRL     &kp LALT      &none
	&kp F11       &kp F12       &kp NON_US_BSLH &kp GRAVE   &none             &none         &kp SQT       &kp BSLH      &kp MINUS     &kp EQUAL
	                            &bootloader   &trans        &none             &none         &trans        &trans
			>;
		};
	};
};
